@mixin before_button  {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        top: -2px;
        left: -2px;
        height: 100%;
        width: 100%;
        transform: scaleX(1.05) scaleY(1.15);
        border: 2px solid $main-color;
        border-radius: 67px;
    }
}

@mixin button_hover {
    &:hover {
        background: $blue;
        color: #fff;
        transition: .6s all ease;
        &:before {
            transition: .6s all ease;
            border-color: $blue;
            transform: scale(1);
        }
    }
}

@mixin before_title {
    &:before {
        content: '';
        position: absolute;
        z-index: -1;
        width: 667px;
        height: 269px;
        border-radius: 100%;
        background: $main-color;
        top: 110px;
        left: 330px;
        transform: rotate(21deg);
        filter: blur(35px);
    }
}