.menu {
    padding: 0 150px;
    display: flex;
    justify-content: space-between;
    &__link {
        font-family: 'Lora', serif;
        color: #282828;
        padding: 0 7px;
        font-size: 20px;
        font-weight: 400;
        text-decoration: none;
        transition: all 0.3s ease;
        position: relative;
        z-index: 2;
        span {
            position: absolute;
            top: 8px;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: -1;
            border-bottom: 3px solid #fff;
            border-radius: 15px;
            transform: scale(0) translateY(50px);
            opacity: 0;
            transition: all 0.3s ease;
        }
        &:hover {
            color: #fff;
            span {
                opacity: 1;
                transform: scale(1) translateY(0);
            }
        }    
    }
}

.hamburger {
    display: none;
}