.button {
    position: relative;
    z-index: 2;
    width: 373px;
    height: 78px;
    background: $main-color;
    border-radius: 60px;
    color: #282828;
    font-size: 28px;
    font-weight: 400;
    text-transform: uppercase;
    border: none;
    @include before_button;
    @include button_hover;
    &_main {
        background: #fff;
        color: $promo;
        &::before {
            border-color: #fff;
        }
        &:hover {
            background: $promo;
            color: #fff;
            &:before {
                border-color: $promo;
            }
        }
    }
}