.promo {
    min-height: 720px;
    background: url(../img/main_bg.jpg) center (center/cover) no-repeat;
    padding: 30px 0 58px 0;
    position: relative;
    &__address {
        display: block;
        margin-top: 88px;
        padding: 0 107px 0 737px;
        color: #282828;
        font-size: 20px;
        font-weight: 300;
        font-style: normal;
    }
    &__workinghours {
        display: block;
        margin-top: 16px;
        padding:0 197px 0 737px;
        color: #282828;
        font-size: 20px;
        font-weight: 300;
    }
    &__title {
        display: block;
        margin-top: 93px;
        margin-left: 127px;
        width: 722px;
        img {
            width: 100%;
        }
    }
    &__button {
        display: block;
        position: relative;
        margin: 69px auto 0 auto;
        text-decoration: none;
        text-align: center;
        padding: 25px 0;
    }
}